# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you generate uniquely
# for your project such as build steps.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
__pycache__/
build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android related
**/android/**/generated/
**/android/gen/
**/android/local.properties
**/android/flutter_assistant.properties
**/android/key.properties
**/android/app/src/main/res/values/strings.xml
*.jks
*.keystore
*.apk
*.aab

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Flutter/App.framework.zip
**/ios/Flutter/App.framework.dSYM.zip
**/ios/Runner/GeneratedPluginRegistrant.[mh]
**/*.moved-aside
Podfile.lock
Pods/
ServiceDefinitions.json
Runner/GoogleService-Info.plist

# macOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Runner/GeneratedPluginRegistrant.swift

# Linux related
**/linux/flutter/ephemeral/

# Windows related
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc
**/windows/flutter/generated_plugin_registrant.h

# Coverage
coverage/

# Web related
**/web/index.html.patch
node_modules/
